body {
  font-family: "Old Standard TT", serif;
  font-size: 18px;
}

.post-content p {
  text-align: justify;
}

@media screen and (max-width: 9999px) {
  article.post-content {
    padding-right: 65px;
  }  
  div.post {
    padding-left: 65px;
  }
}

.post-content img {
  box-shadow: 0 0 5px 1px #cdcdcd;
  max-width: 100%;
}

.post-content table {
  margin: 0 auto;
}

.post-content table td {
  border-bottom: 1px solid #eee;
  padding: 4px 13px 4px 0;
}

.post-content table th {
  border-bottom: 2px solid #ccc;
  text-align: left;
}

.post-content table tr:last-child td {
  border-bottom: 0;
}

.post-content table tfoot td {
  border-top: 2px solid #ccc;
  border-bottom: 0;
}

/* Phones */
@media (min-device-width: 320px) {
  article.post-content {
    padding-right: 15px;
  }  
  div.post {
    padding-left: 15px;
  }
  .post-content img {
    margin-left: 0px;
  }
}

/* Tablets */
@media (min-device-width: 768px) {
  article.post-content {
    padding-right: 25px;
  }  
  div.post {
    padding-left: 25px;
  }
}

@media (min-device-width: 1060px) {
  article.post-content {
    padding-right: 45px;
  }  
  div.post {
    padding-left: 45px;
  }
}

.caption {
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  margin-top: -15px;
  margin-bottom: 30px;
}

#mc_embed_signup input.email {
  margin: 10px 0;
  padding: 8px 0;
  text-indent: 5px;
  width: 272px;
  min-width: 130px;
}

#mc_embed_signup input.button {
  padding: 5px;
  font-size: 14px;
  background-color: #fff;
  color: #333;
}

#mc_embed_signup input.button:hover {
  color: #fff;
  background-color: #333;
}



#mc_embed_signup input {
  border: 1px solid #999;
  -webkit-appearance: none;
}

#mc_embed_signup {
  float: left;
}
