body {
  font-family: "Old Standard TT", serif;
  font-size: 18px;
}

.post-content p {
  text-align: justify;
}

div.post {
  padding-left: 65px;
}

article.post-content {
  padding-right: 65px;
}  

.post-content img {
  box-shadow: 0 0 5px 1px #cdcdcd;
}

.caption {
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  margin-top: -15px;
  margin-bottom: 30px;
}
