---
layout: default
---

<div class="home">

  <h1>Latest Posts</h1>

  <ul class="posts">
    {% for post in site.posts limit:10 %}
      <li class="post-preview">
        <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        {{ post.content | split:'<!-- break -->' | first }}
        {% if post.content contains '<!-- break -->' %}
        <div class="right-aligned">
          <a href="{{ post.url }}">read more...</a>
        </div>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  <a href="/posts/">See the complete archive.</a>
</div>
