<div id="mc_embed_signup">
  <form action="//elbii.us3.list-manage.com/subscribe/post?u=fc7424069468a7c5e44a4ee0b&amp;id=fd13c517cb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
      <label for="mce-EMAIL">Subscribe to receive updates:</label>
      <br>
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;"><input type="text" name="b_fc7424069468a7c5e44a4ee0b_fd13c517cb" tabindex="-1" value=""></div>
      <div class="clear">
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
        <span><small><i>No spam. Ever.</i></small></span>
      </div>
    </div>
  </form>
</div>
