---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
  {{ content }}
  </article>

</div>

<nav>
  <ul class="prev-next-links">
    {% if post.previous %}
    <li style="float:left">
      <a href="{{ site.posts.first.url }}">
        Previous:
        {{ post.previous.title }}
      </a>
    </li>
    {% endif %}
    {% if post.next %}
    <li style="float:right">
      <a href="{{ site.posts.last.url }}">
        Next:
        {{ post.next.title }}
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
