---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
  {{ content }}
  </article>

</div>

<div id="post-post">
  <div style="float:left">
    {% include signup.html %}
  </div>
  <div style="float:right; margin-top: 10px;">
    {% if page.next %}
    <h3> Next post: </h3>
    <a href="{{ page.next.url }}"> {{ page.next.title }} </a>
    {% endif %}
  </div>
</div>

<div style="clear: both; min-height: 20px;"></div>

{% if page.comments %}{% include comments.html %}{% endif %}
